@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2 id="container"></h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/react/react.min.js"></script>
<script src="~/Scripts/JSX/HelloWorld.jsx"></script>
